.banner {
    width: 100%;
    height: 12rem;
    position: relative;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 100;
}

.banner>img {
    width: 100%;
    height: 12rem;
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

.header {
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.53rem;
    padding: 0 1.24rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 4.26rem;

}

.nav {
    width: 11.4rem;
    height: 100%;
    display: flex;
    align-items: center;
    background: #0C151B;
    padding: 0 .48rem 0 1.19rem;
}

.nav>li {
    position: relative;
    margin-right: 1.12rem;
}

.nav>li>a {
    color: #fff;
    font-size: .2rem;
    padding: .1rem;
}

.nav>li:nth-child(3)>a {
    background-image: -webkit-linear-gradient(90deg, #51BBE7, #68FBA6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav>li:nth-child(5) {
    margin-left: .3rem;
    margin-right: .32rem;

}

.nav>li:nth-child(6) {
    margin-right: 0;
}

.nav>li>i {
    position: absolute;
    bottom: -0.1rem;
    left: 0;
    height: .03rem;
    width: .58rem;
    background: -webkit-linear-gradient(90deg, #51BBE7, #68FBA6);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(90deg, #51BBE7, #68FBA6);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(90deg, #51BBE7, #68FBA6);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(90deg, #51BBE7, #68FBA6);
    /* 标准的语法 */
}

.nav>li:nth-child(5)>a,
.nav>li:nth-child(6)>a {
    padding: .07rem .16rem;
    border: 1px solid #fff;
    border-radius: .24rem;
}

.banner-main {
    position: absolute;
    z-index: 200;
    top: .77rem;
    left: 0;
    width: 100%;
    color: #fff;
    padding-top: 2.2rem;
}

.title-1 {
    font-size: .44rem;
    text-align: center;

}

.title-2 {
    text-align: center;
    font-size: 1.25rem;
    margin-top: .52rem;
}

.title-2>span {
    font-weight: bold;
}

.title-3 {
    text-align: center;
    font-size: .24rem;
    margin-top: 1.02rem;
    line-height: .57rem;
}

.btn-more {
    display: block;
    margin: auto;
    width: 2.18rem;
    height: .72rem;
    color: #fff !important;
    font-size: .28rem;
    text-align: center;
    line-height: .72rem;
    border: 3px solid #fff;
    border-radius: .36rem;
    margin-top: .56rem;
}

.content-1 {
    height: 8.86rem;
    background: #fff;
}

h1 {
    color: #818B9C;
    font-size: .6rem;
    text-align: center;
}

h6 {
    color: #51BBE7;
    font-size: .24rem;
    text-align: center;
}

.content-1>i,.content-3>i {
    width: .59rem;
    height: .02rem;
    display: block;
    margin: auto;
    margin-top: .15rem;
    background: #51BBE7;
}

.content-1>h1 {
    margin-top: 1.29rem;
}

.content-1>h6 {
    margin-top: .28rem;
}

.content-1>div {
    display: flex;
    justify-content: center;
}

.content-1>div>ul {
    width: 10.42rem;
    height: 2.67rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .58rem;
}

.content-1>div>ul>li {
    width: 2.38rem;
}

.content-1>div>ul>li>i {
    display: block;
    width: 1.35rem;
    height: 1.54rem;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-1>div>ul>li>h6 {
    margin-top: .2rem;
}

.content-1>div>ul>li>div {
    margin-top: .1rem;
    margin-bottom: .1rem;
    color: #545454;
    font-size: .12rem;
    text-align: center;
}

.content-1>div>ul>li>p {
    color: #545454;
    font-size: .14rem;
    line-height: .24rem;
    text-align: center;
}

.content-1>div>ul>li:nth-child(1)>i {
    background-image: url('../images/service/service-1.png');
}

.content-1>div>ul>li:nth-child(2)>i {
    background-image: url('../images/service/service-2.png');
}

.content-1>div>ul>li:nth-child(3)>i {
    background-image: url('../images/service/service-3.png');
}

.content-1>div>ul>li:nth-child(4)>i {
    background-image: url('../images/service/service-4.png');
}

.content-1>p {
    color: #BEC3CB;
    font-size: .12rem;
    text-align: center;
    line-height: .18rem;
    margin-top: .1rem;
}
.content-2{
    position: relative;
    width: 100%;
    height: 5.48rem;
}
.content-2>img{
    width: 100%;
}
.content-2>.mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0,0,0,.8);
}
.content-2-main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    padding: 1.27rem 4.63rem 1.44rem 4.59rem;
}
.content-2-main>ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.content-2-main>ul>li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-2-main>ul>li>i{
    display: block;
    width: 1.74rem;
    height: 1.9rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/service/service-6.png');
    color: #FFFFFF;
    font-size: .36rem;
    text-align: center;
    line-height: 1.9rem;
}
.content-2-main>ul>li>div{
    color:#FFFFFF;
    font-size: .3rem;
    margin-top: .1rem;   
    text-align: center;
}
.content-2-main>ul>li>p{
    color: #FFFFFF;
    font-size: .12rem;
    margin-top: .1rem;
    line-height: .18rem;
    text-align: center;
}
.content-3{
    height: 11.3rem;
}
.content-3>h1{
    margin-top: 1.12rem;
}
.content-3>h6{
    margin-top: .28rem;
}

.content-3-main{
    width: 14.26rem;
    height: 6.63rem;
    margin-left: 2.7rem;
    margin-top: 1.48rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/service/process.png');
    position: relative;
}
.row-title{
    color: #07A3E4;
    font-size: .3rem;
}
.row-1{
    position: absolute;
    width: 100%;
    display: flex;
    top: -0.5rem;
    left: 0;
    padding-left: .4rem;
}
.row-1>li:nth-child(2){
    margin: 0 3.71rem;
}
.row-2{
    padding-left: 1.3rem;
}
.row-2>li{
    margin-right: 1.6rem;
}
.row-2>li:nth-child(3){
    margin-right: 0;
}
.row-3{
    display: flex;
    margin-top: .7rem;
    padding: 0 .55rem 0 .75rem;
}
.row-3>li{
    color: #fff;
    font-size: .36rem;
    text-align: center;
    line-height: .48rem;
}
.row-3>li:nth-child(2){
    margin-left:1.6rem;
    margin-right: 1.8rem; 
}
.row-3>li:nth-child(4){
    margin-left:1.53rem;
    margin-right: 1.9rem; 
}
.row-3>li:nth-child(6){
    margin-left:1.4rem;
}
.row-4{
    padding-right: 1.3rem;
    justify-content: flex-end;
    margin-top: .8rem;
}
.row-2,.row-4{
    display: flex;
}
.row-4>li>p{
    text-align: right;
}
.row-4>li:nth-child(2){
    margin: 0 1.6rem;
}
.row-title-2{
    color: #07A3E4;
    font-size: .2rem;
}
.row-title-3{
    color: #07A3E4;
    font-size: .16rem;
    margin-top: .1rem
}
.row-content{
    color: #999999;
    font-size: 12px;
    line-height: .18rem;
    margin-top: .13rem;
}
.row-5{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    bottom: -0.5rem;
    right: 0;
    padding-right: .4rem;
}
.row-5>li:nth-child(2){
    margin: 0 3.55rem 0 3.64rem;
}
.foot{
    color:#fff;
    background: #000000;
    padding: .38rem 0;
    margin-top: .43rem;
}
.foot>p {
    text-align: center;
}
.foot>p>a{
    color:#fff;
    padding:.1rem .6rem;
}
.foot>p:nth-child(1){
    margin-bottom: .18rem;
}